<!DOCTYPE html>
<html>
    <head>
        <title>cat</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <h1>The end</h1>
            <h1>This is my sister ava(left) and her cat ash (right)</h1>
            
        </div>
        <div class="pics">
            <img src="/static/images/ava.jpg" alt="ava" height="500px" width = "300px">
            <img src="/static/images/ash.jpg" alt="ash" height="500px" width = "300px">
        </div>
    </body>
</html>
