<!DOCTYPE html>
<html>
    <head>
        <title>log in</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Log in please</h1>
        <p><label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br></p>
            <div class="centerNot">
                <button onclick="window.location.href='/cat';"><p1>Log In</p1></button>
            </div>
    </body>
</html>
