<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>register please</h1>
        <p><label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="phone number">Phone:</label>
            <input type="password" id="phone number" name="phone number" required><br><br></p>
            <div class="centerNot1">
                <button onclick="window.location.href='/login';"><p1>Register</p1></button>
            </div>
    </body>
</html>
